.home {
  background-image: url('/images/polka-dots.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: -ms- flexbox;
  display: flex;
  }

  .flex-photo {
    box-sizing: border-box;
    border: 5px solid blue;
    padding: 5%;
  }

  .a {

  }