/*-----MAIN-----*/
@media only screen and (min-width: 650px){
	nav {
		text-align: center;
	}
	nav ul li {
		display: inline-block;
	}
	nav ul li, .menu-icon {
		border-top: 1px solid;
	}
	.main-content-home{
		margin-top: 140px;
	}

	/*.main-content-about {
		margin-top: 30px;
	}*/

	.main-content-about .photo-grid {
		display: inline-grid;
		grid-template-columns: 1fr 1fr;
		/*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
	}

	.main-content-about .a {
		display: inline-block;
		height: 80%;
		width: 50%;
		/*margin: 10px;*/
	}


	/*.main-content{
		margin-top: 150px;
	}*/

	.logo img{
		height: 3em;
	}
	.top-nav ul {
		text-align:center;
	}
	.top-nav ul li{
		display:inline-block;
	}
}

@media only screen and (min-width: 1000px) {
	/*nav {
		text-align: right;
	}*/
	.top-nav ul {
		text-align: right;
	}

	.logo {
		float: left;
	}

	.top-nav ul li {
		border-top: 0px;
		padding-top: 15px;
	}

	.main-content-home {
		margin-top: 90px;
	} 

	/*.main-content-about {
		margin-top: 30px;
	}*/

	/*.main-content-about .photo-grid{
		margin-left: 1.5em;
		margin-right: 1.5em;
	}*/

	.main-content-about .photo-grid {
		display: inline-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		/*grid-template-rows: 1fr 1fr;*/
		/*margin-left: 5em;
		margin-right: 1.5em;*/
	}
	.main-content-about .a{
		display: inline-block;
		height: 80%;
		width: 50%;
		/*margin: 10px;*/
	}

}